<% if logged_in? %>
  <p>ようこそ、 <%= current_user.name %> さん</p>
<% else %>
  <%= link_to 'login', login_path %>
<% end %>

<h1><%= current_user.name %> さんのタスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
  <% end %>
</ul>

<%= link_to '新規タスクの登録', new_task_path %>

<%= link_to 'Logout', logout_path, method: :delete %>
